/*发现*/
.recommended_found li{
    box-sizing: border-box;
    margin-bottom: 0.5rem;
	border-radius:0.4rem;
	background:#fff;
}
.recommended_found .movable_panel{
    width: 100%;
    height: 6.75rem;
}
.recommended_found .movable_panel img{
    width: 100%;
    height: 100%;
	border-radius:0.4rem 0.4rem 0 0;
}
.activity_theme{
    font-size: 0.75rem;
	padding-left:0.5rem;
	padding-right:0.5rem;
}
.activity_con{
    height: 1.3rem;
    line-height: 1.3rem;
}
.activety_time{
    font-size: 0.6rem;
	line-height:1.1rem;
    text-align: left;
}