/*积分商城详情页*/
.header-img{
	width: 100%;
	height:12rem;
	padding: 0.3rem 0;
}
.header-img img{
	width: 100%;
	height: 100%;
}
.goods-name{
	height: 3rem;
	border-top: 1px solid #ededed;
	padding: 0.4rem 0.75rem;
	font-size: 0.75rem;
}
.card-content{
	margin-top: 0.5rem;
	padding: 0 0.9rem;
}
.card-content .list li{
	height: 2rem;
	line-height: 2rem;
	border-bottom: 1px solid #ededed;
	font-size: 0.85rem;
}
.card-content .list li label{
	color: #1a1a1f;
}
.card-content .list li .sd{
	font-size:0.7rem;
	margin-left:0.75rem;
}
.card-content .list li.exc_num{
	height: 2.5rem;
	line-height: 2.5rem;
	border-bottom:0;
}

.nun_choose #number{
	width: 2.5rem;
	height: 1.35rem;
	line-height: 1.35rem;
	text-align: center;
	margin: 0.55rem 0;
}

.cards-header{
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.8rem;
}
/*弹出框*/
#exchange_appli{
	position: relative;
}
.exch_top{
	border-radius: 0.4rem 0.4rem 0 0;
	padding:0.5rem ;
	background:linear-gradient(to right,#41d1a1,#6de3a4);
	
}
.exch_top p{
	font-size: 0.75rem;
	line-height: 1.05rem;
}
.exch_top p.chenk_success{
	text-align: center;
	padding:0.3rem 0 0.6rem 0;
	color:#fff;
}
.check,.sheep_icon{
	width: 3.5rem;
	height: 3.5rem;
	margin:1.5rem auto 0 auto;
	background: url(../images/queren.jpg) no-repeat center center;
	background-size: cover;
}
.check{
	background: url(../images/queren.png) no-repeat center center;
	background-size: cover;
}
.sheep_icon{
	background: url(../images/mengmeng.jpg) no-repeat center center;
	background-size: cover;
}
.exch_bottom{
	height: 7.35rem;
	color: #a9a9a9;
	background: #f2f2f5;
	border-radius: 0 0 0.4rem 0.4rem;
	padding:0.6rem 1rem 0 1.25rem;
	font-size: 0.8rem;
}
.exch_bottom li{
	height: 1.2rem;
	line-height: 1.2rem;
}
.exch_bottom span{
	padding-left: 0.5rem;
}

.exch_bottom span.name{
	float: left;
	width: 8rem;
	font-size: 0.75rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.view_ex{
	display: block;
	width: 10rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	border-radius: 1rem;
	background:linear-gradient(to right,#41d1a1,#6de3a4);
	font-size: 0.9rem;
	color: #fff;
	position: absolute;
	bottom: 0.7rem;
	left: 50%;
	margin-left: -5rem;
}













