/*积分兑换*/
.integral_nav_1 {
    width: 100%;
    overflow: hidden;
}
.integral_nav_1 th a{
    display: block;
    float: left;
    box-sizing: border-box;
    width:31%;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    background:#f0f0f3;
    color: #3db4cc;
    border: 1px solid #3db4cc;
    font-size:0.8rem;
    text-align:center;
    margin-right: 3%;
}
.integral_nav_1 th a:last-child {
    margin-right: 0
}
.integral_nav_1 a.cur {
    border: 0;
    background: linear-gradient(to right,#3db4cc,#6fd6ea);
    color:#fff;
}
.integral_goods li{
    overflow:hidden;
    padding:0.5rem;
    margin-top:0.5rem;
}
.integral_goods li:last-child:before{
    height:0;
}
.integral_goods li .left_img{
    overflow:hidden;
    width:6.75rem;
    height:5.25rem;
	border:1px solid #f2f2f2;
    margin-right:0.825rem;
}
.integral_goods li .left_img img{
    width:100%;
    height:100%;
}
.integral_goods li .right_p p{
    font-size: 0.7rem;
    color: #a9a9a9;
}

#mobile8 .wtpic{
    display: none!important;
}
#integral_mall table {
    width: 100%;
}







