/*我的邀请*/
#uc_qrcode{
	background: #4278a9;
	position: relative;
}
.qrcode-top{
	position: relative;
	width: 100%;
	height: 14.35rem;
	background: url(../images/invita.jpg) no-repeat center center;
	background-size: cover;
}
.qrcode-bottom{
	width: 16rem;
	height: 6.1rem;
	border: 2px dashed #fff;
	position:relative;
	margin:1.25rem auto 2.25rem auto;
	font-size:0.625rem;
	line-height: 0.95rem;
	color: #fff;
	padding: 0.5rem 0.4rem;
}
.yellow{
	color: #fbff00;
	font-size: 0.75rem;
}
.serial_number{
	display: inline-block;
	float: left;
	width: 0.8rem;
	height: 1.5rem;
	text-align: left;
}
#share{
	display:block;
	width: 11.25rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 1rem;
	color: #fff;
	text-align: center;
	font-size: 1rem;
	background: linear-gradient(to right,#f5aa02,#fdce23);
	margin:1rem auto 0 auto;
}
#mask{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background: #000;
	opacity: 0.65;
	z-index: 11;
	display: none;
}
#click_share{
	width: 100%;
	height: 12.25rem;
	position: absolute;
	top: 4rem;
	left: 0;
	z-index: 99999;
	background-size: 5.75rem;
	display: none;
}
.shane_box{
	width: 14.5rem;
	height: 7.5rem;
	border-radius: 0.4rem;
	opacity: 0.9;
	position: fixed;
	left: 50%;
	margin-left: -7.25rem;
	top:4.75rem;
	padding: 1.5rem  0.8rem  1.5rem 5.25rem;
	background: url(../images/small.png) no-repeat 0.7rem center;
	background-size: 4rem;
	background-color: #fff;
}
.shane_box p{
	font-size: 0.9rem;
	line-height: 1.2rem;
	text-align: justify;
	padding-top: 0.5rem;
}
.qrcode-bottom .sheep{
	width: 5rem;
	height: 4.75rem;
	background: url(../images/sheep.png )no-repeat center left;
	background-size: cover;
	position: absolute;
	right: -7%;
	top:3.5rem ;
}
#uc_qrcode #referer{
	border-bottom: 0;
}
