
/*头部通用*/
header{
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    background:#3db4cc;
    color: #ffffff;
}
.back{
     font-size: 0.8rem
     z-index: 9;
     margin-top: 0;
 }
header h1{
    text-align: center;
}
/*登陆*/
#login{
    height:100%
}
.main{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.container01{
    margin-top:2.5rem;
    padding: 0 2.5rem;
}
.logo{
    display: block;
    width: 7.35rem;
    height: 2.45rem;
    margin:2rem auto 0.425rem auto;
    background: url(../images/logo.jpg) no-repeat center center;
    background-size: cover;
}
.register_login_content{
    background-color: #ffffff;!important;
}
.form_group {
    position: relative;
    height: 2.5rem;
    margin: 0.75rem auto 0 auto;
}
.form_group input{
    width: 13.85rem;
    height: 2.4rem;
    border:1px solid #ededed;
    border-radius: 2.4rem;
    padding-left: 2.25rem;
    box-sizing: border-box;
    font-size: 0.75rem;
    transition: border 0.2s,box-shadow 0.2s;
}
.form_group input:focus{
    border: 1px solid rgba(148,216,230,0.8);
    box-shadow:0 0 5px #94d8e6;
}
.user,
.upwd {
    position: absolute;
    top: 0.45rem;
    left: 0.625rem;
    display: inline-block;
    width: 1.175rem;
    height: 1.5rem;
    background: url(../images/iconlist_01.png) no-repeat;
    background-size: cover;
}
.form_group .user {
    background-position:center 56%;
}
.form_group .upwd {
    background-position:center 40%;
}

.delect,
.display{
    position: absolute;
    top: 0.45rem;
    right: 0;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/iconlist_01.png) no-repeat;
    background-size: cover;
}
.delect{
    background-position:0 9%;
}
.display{
    background-position:0 19%;
}
.forget{
    text-align: center;
    margin-top: 0.375rem;
}
.forget a{
    color: #5ac3d8;
    font-size: 0.9rem;
}
.btns{
    display: inline-block;
    border: 1px solid #5ac3d8;
    width: 6.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    border-radius: 1.125rem;
    margin-top: 1.625rem;
    box-sizing: border-box;
    text-align: center;
}
.register{
    font-size: 1rem;
    border: 0;
    background: linear-gradient(to right,#3db4cc,#6fd6ea);
}
.register a{
     color: #ffffff;
}
.ui-button_login{
    color: #5ac3d8;
    font-size: 1rem;
    margin-right:0;
}
/*底部图*/
.grassland{
    width:100%;
    height:5.7rem;
    background: url(../images/grassland.jpg)  no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 0;
}
.forgeted{
    margin-top: 0.4rem;
}
/*忘记密码内容*/
.vessel{
    margin-top: 0.5rem;
}
.forgetPwd{
    width: 12.35rem;
    margin: 0 auto;
    padding-top: 0.75rem
}
.form_modify {
    position: relative;
    margin: 0 auto;
}
