/*我的回报*/
.com_total{
	width: 100%;
	height:4rem;
	border-bottom: 1px solid #ededed;
	padding:0.5rem 0.75rem;
}
.comm {
	font-size: 1.25rem;
}
.comm .decimal{
	font-size: 0.95rem;
}
 .rules{
	font-size: 0.75rem;
	line-height: 1.85rem;
}
.com_total div.fr{
	text-align:center;
}
.com_total div.number{
	padding-top:0.4rem;
}
.good{
	font-size: 0.8rem
}
#myFriends{
	padding-top: 0;
}
#myFriends .comm .number{
	font-size: 1.5rem;
	padding-top: 0;
	text-align: center;
}
#myFriends .investor{
	width: 45%;
	padding-top: 0.9rem;
	text-align: left;
	font-size: 0.8rem;
}
#friendList{
	margin-top: 0.5rem;
}
#friendList .income_right{
	width: 45%;
}
.trans_total{
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.65rem;
	background: #f0f0f3;
	padding-left: 0.75rem;
	border-bottom: 1px solid #ededed;
}
.every_income{
	width: 100%;
	padding:0.75rem;
	border-bottom: 1px solid #ededed;
}
.income_left{
	margin-top: 0.75rem;
}
.every_income .comm_money{
	font-size: 1.1rem;
}
.every_income .decimal{
	font-size: 0.8rem;
}
.every_income .get,.income_right{
	font-size: 0.7rem;
}