/*注册*/
#register{
    background-color: #fff;
}
.contents{
    padding-top: 1.75rem;
}
.contents .logo{
    margin:0 auto 0.425rem auto;
}
.container02{
    width: 13.25rem;
    margin:0.6rem  auto  0 auto;
}

.form_modify input{
    box-sizing: border-box;
    width:100%;
    height:2.5rem;
    border-bottom:1px solid #e5e5e5;
    padding-left: 1.75rem;
    border-radius: 0;
    font-size:0.8rem;
}
#forget_pwd #user_pwd_confirm,#register #referer{
    border-bottom: 0;
}
.form_modify input:focus{
    border-bottom:1px solid rgba(148,216,230,0.8);
}
.form_modify span{
    position: absolute;
    top: 0.5rem;
    left: 0.125rem;
    display: inline-block;
    width: 1.175rem;
    height:1.5rem;
    background: url(../images/iconlist_01.png) no-repeat;
    background-size: cover;
}
.form_modify span.delect,#code .form_modify span.delect,#pay-code .form_modify span.delect{
    position: absolute;
    top: 0.5rem;
    left:94%;
    background-position:0 8%;
    display: none;
}
.form_modify .user,.form_modify .groom {
    background-position:left 28%;
}
.form_modify .upwd,.form_modify .more {
    background-position:left 40%;
}
.form_modify .number {
    background-position:left 55.5%;
}
.form_modify .code {
    background-position:left 67.5%;
}
.form_modify .ver_code,.count_down{
    position: absolute;
    right: 0;
    top: 0.375rem;
    width:4rem;
    height: 1.75rem;
    line-height: 1.75rem;
    border-radius: 0.875rem;
    font-size: 0.8rem;
    color: #fff;
    padding: 0;
    border-bottom: 0;
    background-color: #5ac3d8;
    box-sizing: border-box;
}
.form_modify .ver_code:focus{
    border-bottom: 0;
}
.count_down {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: none;
}
#forget_pwd .forget a,#forget_pwd .forget a{
    position:fixed;
    bottom: 2rem;
    left: 50%;
    margin-left:-1.8rem ;
}
/*首次注册身份认证*/
#form_credit{
    box-sizing: border-box;
}
.identity_con{
    padding: 0 0.5rem;
}
.mainblok{
    margin-top: 1rem;
}
#login .form_group input{
    width: 100%;
}