/*文章展示页*/
.show_article .card{ 
	margin:0;
	box-shadow:none;
}

.card-footer, .card-header {
    min-height: 2.2rem;
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card-header {
    font-size: 0.75rem;
}

.show_article .card-header:after{
	height:0;
}