/*提现*/
.bank_queue li{
	box-sizing: border-box;
	height: 5rem;
	margin-bottom: 0.5rem;
}
.bank_queue a{
	display:block;
	float: left;
}
.add_bank_card{
	position:relative;
	height:40px;
	line-height:40px;
	padding:0px 40px 0px 10px;
	font-size:16px;
}
.add_bank_card i{
	position:absolute;
	top:12px;
	right:10px;
	color:@font_main;
}

#bank .no_sheep{
    background: url(../images/no_record/no_bank.png) no-repeat center center;
    background-size: 100%;
}
/*余额情况*/
.balance_detail{
	background:#fff;

}
.balance_detail ul li{
	padding-left:80px;
	height:40px;
	border-bottom:1px solid #d7d7d7;
	margin-bottom:-1px;
}
.balance_detail ul li span{
	float:left;
	line-height: 40px;
	font-size: 15px;
	color: #333;
	padding-left:10px;
	margin-left:-80px;

}
.balance_detail ul li font{
	line-height: 40px;
	font-size: 16px;
	color: #b6b6b6;
}
.checkin a{
	width:100%;
}
#uc_bank .no_record{
	margin-top:3.25rem;
}
.auTip{
	margin-top: -0.5rem;
	font-size: 0.8rem;
	line-height: 1.1rem;
	text-align: justify;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
}
.delectTip{
	margin-top: -0.5rem;
	font-size: 0.8rem;
	line-height: 1.7rem;
	padding-left: 0.5rem;
}
.bankTip{
	font-size: 0.8rem;
	line-height: 1.7rem;
	padding-left: 0.5rem;
}