/*uc_center.html 新版*/
#uc_center{
	padding-bottom: 3rem;
}
.uc_c_top{
	box-sizing:border-box;
	width: 100%;
	height: 4rem;
	background:linear-gradient(to right,#33b3cc,#6fd6ea);
	border-radius: 0.4rem;
	padding: 0.8rem 0.6rem 0.8rem 0.7rem;
	color: #fff;
}
.uc_img_bor_small{
	width: 2.4rem;
	height: 2.4rem;
	border: 2px solid #fff;
	border-radius: 50%;
	background: #f7f7f7;
	margin-right: 0.3rem;
	overflow: hidden;
	position: relative;
}
.uc_img_bor_small img{
	width: 100%;
	height: 100%;
}
#uploadForm{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 999;
}
#imageFile{
	width:100%;
	height:100%;
	
}
.uc_c_top .user_name{
	font-size:0.8rem;
	color:#fff;
	font-weight:600;
}
.authen,.authened{
	font-size: 0.7rem;
}
.authened{
	opacity: 0.5;
}
.uc_c_top .integral{
	position: relative;
}
.uc_c_top .integral a{
	font-size: 0.75rem;
	color: #f7f7f7;
	line-height: 2.4rem;
	margin-left:0.5rem;
}
.sign{
	opacity: 0.5;
}
.authen_tip{
	font-size: 0.65rem;
	line-height: 1.25rem;
}
/*账户余额*/
.account{
	box-sizing: border-box;
	height: 8.2rem;
	margin: 0.5rem 0;
	position: relative;
}
.account p{
	text-align: center;
}
.detailed{
	font-size: 0.75rem;
	margin-top: 0.6rem;
	text-align:center;
}
.detailed a{
	display:block;
	width:100%;
	text-align:center;

}
.account-balance{
	font-size: 1.5rem;
}
.account-balance .small{
	font-size: 1.05rem;
	padding: 0;
}
.acc-bal{
	font-size: 0.7rem;
}
.money_operation{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	border-top: 1px solid #ededed;
}
.money_operation li{
	box-sizing: border-box;
	float: left;
	width: 50%;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 0.9rem;
	padding-left: 2rem;
}
.money_operation li.incharge{
	border-right: 1px solid #ededed;
}
#uc_center .content .icon{
	width: 2.2rem;
	height: 2.5rem;
	display: inline-block;
	background-size:1rem;
	overflow: hidden;
}
.money_operation a{
	display: block;
	width: 100%;
	height: 100%;
}
.money_operation .incharge .icon{
	background: url(../images/iconlist_03.png) no-repeat center -3.7%;
}
.money_operation .carry .icon{
	background: url(../images/iconlist_03.png) no-repeat center 6.3%;
}
.money_operation .bank .icon{
	background: url(../images/iconlist_03.png) no-repeat center 16.5%;
}

.uc_c_middle{
	z-index:500;
	position:relative;
}
.uc_c_middle li,.uc_c_bottom li{
	box-sizing: border-box;
	height: 2.5rem;
	line-height: 2.5rem;
	border-bottom: 1px solid #ededed;
	padding-right: 0.35rem;
	font-size: 0.9rem;
}
.uc_c_middle li a,.uc_c_bottom  li a{
	display: block;
	width:100%;
	height:100%;
}
.uc_c_middle li:last-child,.uc_c_bottom li:last-child{
	border-bottom: 0;
}
.uc_c_middle .contract .icon{
	background: url(../images/iconlist_03.png) no-repeat center 30%;
}
.uc_c_middle .contract .icon{
	background: url(../images/iconlist_03.png) no-repeat center 27%;
}
.uc_c_middle .invitation .icon{
	background: url(../images/iconlist_03.png) no-repeat center 37%;
}
.uc_c_middle  .pasture .icon{
	background: url(../images/iconlist_03.png) no-repeat center 47%;
}
.uc_c_middle  .dingdan .icon{
	background: url(../images/dingdan.png) no-repeat center center;
	background-size:0.85rem 1.075rem!important;
}
.uc_c_middle  .integral .icon{
	background: url(../images/iconlist_03.png) no-repeat center 57%;
}
.uc_c_middle  .voucher .icon{
	background: url(../images/iconlist_03.png) no-repeat center 67%;
}
.uc_c_middle  .address .icon{
	background: url(../images/iconlist_03.png) no-repeat center 77%;
}
.uc_c_bottom {
	margin-top: 0.5rem;
}
.uc_c_bottom  .setting .icon{
	background: url(../images/iconlist_03.png) no-repeat center 87%;
}
.uc_c_bottom  .help .icon{
	background: url(../images/iconlist_03.png) no-repeat center 97%;
}
.official_record{
	font-size: 0.65rem;
	padding: 0 0.3rem;
}
/*签到动画*/
.increase{
	position:absolute;
	left:0;
	bottom:25px;
	color:#fff;
	opacity: 0;
}
.entered {
    display: inline-block;
    width: 1.6rem;
    height: 2.5rem;
    background: url(../images/iconlist_02.png) no-repeat 0 103%;
    background-size: cover;
}
/*.increaseAgin{
	-webkit-animation:added  1.5s linear;
	-ms-animation:added  1.5s linear;
	-moz-animation:added  1.5s linear;
	-o-animation:added  1.5s linear;
	animation:added  1.5s linear;
}
@-webkit-keyframes added{
	0%{
		opacity:0;
		bottom:35px;
	}
	80%{
		opacity:1;
		bottom:70px;
	}
	100%{
		opacity:0;
		bottom:70px;
	}
}
@-ms-keyframes added{
	0%{
		opacity:0;
		bottom:35px;
	}
	80%{
		opacity:1;
		bottom:70px;
	}
	100%{
		opacity:0;
		bottom:70px;
	}
}
@-moz-keyframes added{
	0%{
		opacity:0;
		bottom:35px;
	}
	80%{
		opacity:1;
		bottom:70px;
	}
	100%{
		opacity:0;
		bottom:70px;
	}
}
@-o-keyframes added{
	0%{
		opacity:0;
		bottom:35px;
	}
	80%{
		opacity:1;
		bottom:70px;
	}
	100%{
		opacity:0;
		bottom:70px;
	}
}
@keyframes added{
	0%{
		opacity:0;
		bottom: 35px;
	}
	80%{
		opacity:1;
		bottom:70px;
	}
	100%{
		opacity:0;
		bottom:70px;
	}
}*/
