/*身份认证*/
#uc_credit .mainblok{
	margin-top:0;
}
.new_version ul li{
	background:#fff;
}
.tip_tip{
	color: #a9a9a9;
	padding: 0.65rem 1.1rem;
	font-size: 0.8rem;
	line-height:1.1rem;
}
.detail_list .list_con{
	height: 2.75rem;
	line-height: 2.75rem;
	margin-left:5.1rem;
}
.detail_list ul{
	padding:0 0.2rem;
}
.detail_list ul li{
	color: #1a1a1f;
	font-size: 0.9rem;
	margin: 0px;
	position: relative;
}
.detail_list ul li:first-child{
	border-bottom: 1px solid #ededed;
}
.detail_list ul li input.ipt{
	padding:0;
	font-size: 0.7rem!important;
	height: 2rem!important;
	line-height: 2rem!important;
	margin: 0.3rem 0;
}

.detail_list ul li label{
	width:5.1rem;
	height: 2.75rem;
	line-height: 2.75rem;
	float: left;
	color:#656565;
	padding-left:0.6rem;
}
.detail_Orange{
	color: #eb8327;
}
.aggregate .money{
	float:right;
	font-size:18px;
	line-height:38px;
}
.aggregate .total{
	float:left;
	fofont-siz:16px;
	line-height:25px;
}
.linkbtn {
    background:#00ABEB;
	border-radius: 25px;
	color: #FFF;
	display: inline-block;
	border:1px solid #00ABEB;
	float:right;
	font-size: 0.7rem!important;
	height: 40px!important;
	line-height:40px!important;
	margin: 0.3rem 0;
	padding:0 0.4rem
}
.ui_width{
	width:96%; 
}

.uis_width{
	width:80%; 
}