/*我的兑换*/
.uc_goods_order ul li{
	box-sizing: border-box;
	margin-bottom:0.5rem;
}
.uc_goods_order .topbox { 
	height:1.5rem; 
	line-height:1.5rem;
	font-size: 0.6rem;
	border-bottom: 1px solid #ededed;
	padding: 0 0.4rem;
}
.uc_goods_order .middlebox{ 
	padding:0.4rem;
}
.uc_goods_order .middlebox .picbox{
	width:6.75rem; 
	height:5.3rem; 
	margin-right:0.6rem;
	border:1px solid #ededed;
}
.uc_goods_order .bottombox{
	font-size: 0.7rem;
}