/*我的合同ͬ*/
.contract_title{
    width: 100%;
    height:7.5rem;
    background: url(../images/hetong.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 1.5rem 0 0 0;
    margin-bottom: 0.5rem;
}
.contract_title h6{
    color: #fff;
    font-size: 3.1rem;
    text-align: center;
    line-height: 3.1rem;
    font-weight: normal;
}
.contract_title p{
    text-align: center;
    font-size: 0.7rem;
}
.contract_title p.my{
    margin-bottom: 0.5rem;
}
.contract_title p span{
    padding: 0.2rem;
}
.contract_title p span:first-child{
    margin-right: 0.6rem;
}
.contract_list li{
    box-sizing: border-box;
    width: 100%;
    height: 2.75rem;
    line-height: 2.75rem;
    border: 1px solid #ededed;
    border-radius: 0.4rem;
    background: #fff;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    padding:0 0.75rem 0 0.6rem;
}
.contract_list li a{
    display: block;
    width: 100%;
    height: 100%;
}
.contract_list li .thou{
    width: 1.5rem;
    height: 100%;
    background: url(../images/iconlist_01.png) no-repeat 0 26.5%;
    background-size: 1.3rem;
    margin-right: 0.15rem;

}