/*确认兑换羊肉页面*/
#uc_sure_exchange .exch_top{
    padding: 0.7rem 1.25rem 0 1.25rem;
}
#uc_sure_exchange .exch_top p{
    font-size: 0.7rem;
    line-height: 0.98rem;
}
#uc_sure_exchange .check{
    margin-top: 0.9rem;
}
#uc_sure_exchange .exch_bottom{
    height:8.5rem;
    font-size: 0.75rem;
}
.exch_bottom  li span.time{
    padding-left: 0.5rem!important;
}
#uc_sure_exchange .gift_box{
    height: 7.4rem;
    background: url(../images/gift_box.jpg) no-repeat bottom center;
    background-size: 10rem 6rem;
    border-bottom: 1px solid #ededed;
}
.gift_name {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.65rem;
    padding-left: 0.85rem;
}
#uc_sure_exchange .operationList{
    margin-top: 0.5rem;
    padding:0 1rem;
}
#uc_sure_exchange .operationList li{
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #ededed;
}
#uc_sure_exchange .operationList li:last-child{
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0;
	border-bottom:0;
}
#uc_sure_exchange .operationList li.postage{
    height: 4.5rem;
	line-height:2rem;
}
#uc_sure_exchange .operationList li.postage div:first-child{
	line-height:1.8rem;
}
.large_area{
    width: 60%;
    height: 2rem;
    line-height: 2rem;
    border: 1px solid #3db4cc;
    font-size: 0.7rem;
    padding-left: 0.3rem;
    background: url(../images/selectbg.png) no-repeat 95% center;
    background-size:1rem;
	text-align:left;
	padding-right:2rem;
}
.to_pay{
    width: 36%;
    height: 2rem;
    line-height: 2rem;
    border: 1px solid #3db4cc;
    text-align: center;
    font-size: 0.7rem;
}
#pay01{
    background: #fff;
    color:#3db4cc;
}
#pay02{
    background: #3db4cc;
    color:#fff;
    display: none;
}
#uc_sure_exchange .explain{
    padding-left: 1rem;
    font-size: 0.8rem;
}
#uc_sure_exchange .operationList li.exch_num{
    height: 2.5rem;
    line-height: 2.5rem;
}
#ex_number{
    width: 2.5rem;
    height: 2.4rem;
    line-height: 2.5rem;
    text-align: center;
}
#uc_sure_exchange #sure_exchange{
	width:15.5rem;
	margin-left:-7.75rem;
}
#uc_sure_exchange #exchange{
	box-sizing:border-box;
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	background: #fff;
	z-index: 999;
	overflow:hidden;
	margin-top:0.5rem;
}
#uc_sure_exchange .reminder{
	padding-left:1.5rem;
	padding-right:1.5rem;
}