/*设置*/
.uc_c_middle .uc_c_middle_content_list{
	background:#fff;
	overflow:hidden;
	margin-bottom:0.3948rem;
}
.uc_c_middle .uc_c_middle_content_list li{
	padding:0 0.75rem;
	height:2.5rem;
	position:relative;
	line-height: 2.5rem;
	border-bottom: 1px solid #e7e7e7;
}
.uc_c_middle .uc_c_middle_content_list li:last-child{
	border-bottom: none;
}
.uc_c_middle .href_first{
	height:2.5rem;
	line-height:2.5rem;
}
.uc_c_middle .href_second{
	display:inline-block;
	width: 3.00rem;
	height: 2.5rem;
	line-height: 2.5rem;
	background:#fff;
	position:absolute;
	right:2.35rem;
	top:0rem;
	border-radius:0.1rem;
	font-size:0.75rem;
	text-align:right;
	color:#d9d9d9;
}
.uc_c_middle .href_first p{
	color:#1a1a1f;
	font-size:0.9rem;
}
.uc_c_middle .uc_c_middle_content_list li:last-child:before{
	height: 0px;
}
.uc_c_middle .modify{
	display: inline-block;
	width: 1.1rem;
	height:1.1rem;
	margin-top: 0.7rem;
	margin-right: 0.5rem
}
.uc_c_middle .identity{
	background: url(../images/iconlist_02.png) no-repeat 0 0;
}
.uc_c_middle .login{
	background: url(../images/iconlist_02.png) no-repeat 0 12.8%;
}
.uc_c_middle .payment{
	background: url(../images/iconlist_02.png) no-repeat 0 26%;
}
.uc_c_middle .cell_phone{
	background: url(../images/iconlist_02.png) no-repeat 0 38.5%;
}
.uc_c_middle .modify{
	background-size:cover ;
}

/*提交审核按钮*/
.examine{
	width: 12rem;
	height: 2.25rem;
	border-radius: 2.25rem;
	line-height:2.2rem;
	color: #fff;
	background: linear-gradient(to right,#3db4cc,#6fd6ea);
	font-size: 1rem;
	margin:2rem auto 0 auto;
	text-align: center;
}
.uc_center .out_login {
    display: block;
    width: 15rem;
    height: 2.25rem;
    line-height: 2.25rem;
    background: #fff;
    color: #1a1a1f;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 1.125rem;
    position: absolute;
    bottom: 12rem;
    left: 50%;
    margin-left: -7.5rem;
}
